In [1]:
a = "MYFOLDER"
b = "Demo002"
c = "2bring"
d = "my demo"
e = "        "
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())
print("")
print(a.islower())
print(b.islower())
print(c.islower())
print(d.islower())
print("")
print(a.isupper())
print(b.isupper())
print(c.isupper())
print(d.isupper())
print("")
print(a.isspace())
print(b.isspace())
print(c.isspace())
print(d.isspace())
print(e.isspace())

True
True
False
False

False
False
True
True

True
False
False
False

False
False
False
False
True

In [19]:
a = "MYFOLDERMYFOLDERMYFOLDER"
print(a.endswith("OLDER"))
print("")
print(a.startswith("MYFOLDER"))
print("")
print(a.count("MYFOLDER"))
print("")
print(a.find("MYFOLDER"))
print(a.find("YFOLDER"))
print(a.find("fuck")) # not find return -1
print("")
# rfind is max find
print(a.rfind("MYFOLDER")) 
print(a.rfind("YFOLDER"))
print(a.rfind("fuck")) # not find return -1
print("")

True

True

3

0
1
-1

16
17
-1

In [22]:
name = "geeks FOR geeks" 
print(name.capitalize())

name1 = "geeks"
name2 = "for"
name3 = "geeks"
print(name1.capitalize() 
    + name2.capitalize()
    + name3.capitalize())

Geeks for geeks
GeeksForGeeks

In [23]:
name = "geeks FOR geeks" 
print(name.lower())

name1 = "geeks"
name2 = "for"
name3 = "geeks"
print(name1.lower() 
    + name2.lower()
    + name3.lower())

geeks for geeks
geeksforgeeks

In [24]:
name = "geeks FOR geeks" 
print(name.upper())

name1 = "geeks"
name2 = "for"
name3 = "geeks"
print(name1.upper() 
    + name2.upper()
    + name3.upper())

GEEKS FOR GEEKS
GEEKSFORGEEKS

In [26]:
name = "geeks FOR geeks" 
print(name.swapcase())

name1 = "geeks"
name2 = "for"
name3 = "geeks"
print(name1.swapcase() 
    + name2.swapcase()
    + name3.swapcase())

GEEKS for GEEKS
GEEKSFORGEEKS

In [27]:
name = "geeks FOR geeks" 
print(name.replace("geeks", "Taiwan"))

Taiwan FOR Taiwan

In [30]:
x, y = 10, 20
s = "Y={1} X={0}".format(x, y)
print(s+"")
s = "y={a} x={b}".format(b=x, a=y)
print(s+"")

Y=20 X=10
y=20 x=10

In [47]:
print("整數: {0:5d}".format(456))
print("整數: {0:05d}".format(456))
print("")
print("浮點數: {0:6.3f}".format(123.45678910))
print("浮點數: {0:6.3f}".format(1123.45678910))
print("")
print("02進制:{0:b}".format(200))
print("08進制:{0:o}".format(200))
print("16進制:{0:x}".format(200))

整數:   456
整數: 00456

浮點數: 123.457
浮點數: 1123.457

02進制:11001000
08進制:310
16進制:c8

In [54]:
lst1 = []
lst2 = [3, 4, 5]
lst3 = [1, 'python', 5.5]
lst4 = list()
print(str(lst4))
lst5 = list(["tom", "mary", "joe"])
print(str(lst5))
lst6 = list("python")
print(str(lst6))
lst7 = [1, lst5, lst2]
print(str(lst7))

[]
['tom', 'mary', 'joe']
['p', 'y', 't', 'h', 'o', 'n']
[1, ['tom', 'mary', 'joe'], [3, 4, 5]]

In [56]:
lst1 = [1, 2, 3, 4, 5, 6]
print(lst1[0])
print(lst1[1])
print(lst1[-1])
print(lst1[-2])

1
2
6
5

In [58]:
lst1 = [1, 2, 3, 4, 5, 6]
for e in lst1:
    print(e, end=" ")
animal = ["cat", "dog", "bat"]
for index, animal in enumerate(animal):
    print(index, animal)

1 2 3 4 5 6 0 cat
1 dog
2 bat

In [1]:
lst2 = [[2, 4], ['cat', 'dog', 'bat'], [1, 3, 5]]
print(lst2[1][0])
print(lst2[2][1])
for e1 in lst2:
    for e2 in e1:
        print(e2, end=" ")

cat
3
2 4 cat dog bat 1 3 5

In [31]:
lst1 = [1, 5]
lst1.append(7)
print(lst1)
lst1.extend([9, 11, 13])
print(lst1)
lst1.insert(1, 3)
print(lst1)
del lst1[2]
print(lst1)
e1 = lst1.pop()
print(e1, lst1)
e1 = lst1.pop(1)
print(e1, lst1)
lst1.remove(11)
print(lst1)
print(lst1.count(9))
print(lst1.index(9))
lst1.reverse()
print(lst1)
lst1.sort()
print(lst1)

[1, 5, 7]
[1, 5, 7, 9, 11, 13]
[1, 3, 5, 7, 9, 11, 13]
[1, 3, 7, 9, 11, 13]
13 [1, 3, 7, 9, 11]
3 [1, 7, 9, 11]
[1, 7, 9]
1
2
[9, 7, 1]
[1, 7, 9]

In [21]:
lst1 = [1, 2, 3, 2, 5, 100]
print(len(lst1))
print(max(lst1))
print(min(lst1))
print(list(lst1))
print(sum(lst1))
print(sorted(lst1))
for index, lst1 in enumerate(lst1):
    print(index, lst1)

6
100
1
[1, 2, 3, 2, 5, 100]
113
[1, 2, 2, 3, 5, 100]
0 1
1 2
2 3
3 2
4 5
5 100

In [34]:
str1 = "This is a pen."
lst1 = str1.split()
print(lst1)
str1 = "Tom,Bob,Marry,Joe,John"
lst1 = str1.split(",")
print(lst1)
str1 = "23\n52\n44\n78"
lst1 = str1.splitlines()
print(lst1)

['This', 'is', 'a', 'pen.']
['Tom', 'Bob', 'Marry', 'Joe', 'John']
['23', '52', '44', '78']

In [38]:
t1 = ()
t2 = (1, 2, 3, 4, 5)
t3 = (1, 'Joe', 5.5)
t4 = tuple()
t5 = tuple(["tom","marry","joe"])
print(t5)
t6 = tuple(["python"])
print(t6)

('tom', 'marry', 'joe')
('python',)

In [40]:
t1 = (1, 2, 3, 4, 5)
print(t1[0])
print(t1[1])
print(t1[-1])
print(t1[-2])
for e in t1:
    print(e, end=" ")

1
2
5
4
1 2 3 4 5

In [17]:
d1 = {}
d1 = {1: 'apple', 2: 'ball'}
d1 = {'name': 'joe', 1: [2, 4, 6]}
print(d1)
d1 = dict()
d1 = dict([(1, "tom"), (2, "mary"), (3, "john")])
print(d1)
print(d1[1])
print(d1[2])
for num in d1:
    name = d1[num]
    print(num, name)
print("")
for num, name in d1.items():
    print("number: {0} student name: {1}".format(num, name))

{'name': 'joe', 1: [2, 4, 6]}
{1: 'tom', 2: 'mary', 3: 'john'}
tom
mary
1 tom
2 mary
3 john

number: 1 student name: tom
number: 2 student name: mary
number: 3 student name: john

In [27]:
d1 = {1: 'tom', 2: 'mary', 3: 'john'}
del d1[2]
print(d1)
d1.pop(3)
print(d1)
d1 = {1: 'tom', 2: 'mary', 3: 'john'}
d1.popitem()
print(d1)

{1: 'tom', 3: 'john'}
{1: 'tom'}
{1: 'tom', 2: 'mary'}

In [47]:
d1 = {3: 'john', 1: 'tom',  4: 'amy', 5: 'zach', 2: 'mary'}
print(len(d1))
t1 = list(d1.items())
print(dict(t1))
print(sorted(d1))
print(sorted(d1.items()))
print(dict(sorted(d1.items())))
# print(dict([()])))

5
{3: 'john', 1: 'tom', 4: 'amy', 5: 'zach', 2: 'mary'}
[1, 2, 3, 4, 5]
[(1, 'tom'), (2, 'mary'), (3, 'john'), (4, 'amy'), (5, 'zach')]
{1: 'tom', 2: 'mary', 3: 'john', 4: 'amy', 5: 'zach'}

In [59]:
d1 = {1: 'tom', 2: 'mary', 3: 'john', 4: 'amy', 5: 'zach'}
print(d1)
d1.pop(1) # pop(key)
print(d1)
d1.popitem()
print(d1)
d1.clear()
print(d1)

d1 = {1: 'tom', 2: 'mary', 3: 'john', 4: 'amy', 5: 'zach'}
print(d1[1])
print(d1.get(1)) 
print(d1.keys())
print(d1.values())

{1: 'tom', 2: 'mary', 3: 'john', 4: 'amy', 5: 'zach'}
{2: 'mary', 3: 'john', 4: 'amy', 5: 'zach'}
{2: 'mary', 3: 'john', 4: 'amy'}
{}
tom
tom
dict_keys([1, 2, 3, 4, 5])
dict_values(['tom', 'mary', 'john', 'amy', 'zach'])

In [63]:
d1 = {"tom": 2, "bob": 3, "mike": 4} 
print(d1.keys())
print(list(d1))
print(list(d1.items()))

dict_keys(['tom', 'bob', 'mike'])
['tom', 'bob', 'mike']
[('tom', 2), ('bob', 3), ('mike', 4)]

In [80]:
str1, str2 = "hello ", "world"
print(str1 + str2)

lst1, lst2 = [2, 4], [6, 8, 10]
print(str(lst1 + lst2))

t1, t2 = (2, 4), (6, 8, 10)
t3 = t1 + t2
print(str(t3))

hello world
[2, 4, 6, 8, 10]
(2, 4, 6, 8, 10)

In [85]:
str1 = "hello "
str2 = str1 * 3
print(str2)

lst1 = [1, 2]
lst1 = lst1 * 3
print(lst1)

t1 = (1, 2)
t1 = t1 * 3
print(t1)

hello hello hello
[1, 2, 1, 2, 1, 2]
(1, 2, 1, 2, 1, 2)

In [89]:
str = "welcome"
print("come" in str)
print("come" not in str)
print("")

lst1 = [2, 4, 6, 8]
print(2 in lst1)
print(2 not in lst1)

True
False

True
False

In [96]:
d1 = {"tom": 2, "joe": 3}
print("tom" in d1)
print("tom" not in d1)
print("")

print("green" == "glow")
print("green" != "glow")
print("green" > "glow")
print("green" >= "glow")
print("green" < "glow")
print("green" <= "glow")

True
False

False
True
True
True
False
False

In [97]:
d1 = {"tom": 30, "bobe": 3}
d2 = {"bobe": 3, "tom": 30}
print(d1 == d2)
print(d1 != d2)

True
False

In [108]:
str1 = "hello world!"
lst1 = list(str1)
print(lst1)
t1 = tuple(str1)
print(t1)
print("")

print(str1[1:3])
print(lst1[1:3])
print(  t1[1:3])
print("")

print(str1[1:5])
print(lst1[1:5])
print(  t1[1:5])
print("")

print(str1[:7])
print(lst1[:7])
print(  t1[:7])
print("")

print(str1[4:])
print(lst1[4:])
print(  t1[4:])
print("")

print(str1[1:-1])
print(lst1[1:-1])
print(  t1[1:-1])
print("")

print(str1[6:-2])
print(lst1[6:-2])
print(  t1[6:-2])
print("")

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '!']
('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '!')

el
['e', 'l']
('e', 'l')

ello
['e', 'l', 'l', 'o']
('e', 'l', 'l', 'o')

hello w
['h', 'e', 'l', 'l', 'o', ' ', 'w']
('h', 'e', 'l', 'l', 'o', ' ', 'w')

o world!
['o', ' ', 'w', 'o', 'r', 'l', 'd', '!']
('o', ' ', 'w', 'o', 'r', 'l', 'd', '!')

ello world
['e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
('e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

worl
['w', 'o', 'r', 'l']
('w', 'o', 'r', 'l')

In [111]:
lst1 = [2, 4, 6, 8]
lst1[1:4] = [3, 5, 7]
print(lst1)
lst1[2:2] = [1, 9]
print(lst1)
lst1[2:3] = []
print(lst1)

[2, 3, 5, 7]
[2, 3, 1, 9, 5, 7]
[2, 3, 9, 5, 7]

In [117]:
lst1 = [x for x in range(10)]
print(lst1)
lst1 = [x+1 for x in range(10)]
print(lst1)
lst1 = [x for x in range(10) if x % 2 == 1]
print(lst1)
lst1 = [2*x for x in range(10) if x % 2 == 1]
print(lst1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[2, 6, 10, 14, 18]

In [119]:
d1 = {x:x*x for x in range(10)}
print(d1)

d1 = {x:x*x for x in range(10) if x % 2 == 0}
print(d1)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}